
/*Шрифт Varela*/

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('GothamPro/GothamPro-Bold.eot');
  src:  url('GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src:  url('GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src:  url('GothamPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Medium';
  src:  url('GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
